.app-header {
    height: 50px;
    margin-left: 60px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.router-outlet-container {
    height: 650px; 
    width: 1300px; 
    overflow-y: auto;
  }
  
  
